.books-list {
    &__wrap {
    }
    &__loading {
        margin-left: 12px;
        font: 400 16px/20px 'Open Sans', sans-serif;
    }
    &__not-found {
        margin-left: 12px;
        font: 400 16px/20px 'Open Sans', sans-serif;
    }
}
