.books-list {
    &__wrap {
    }
    &__loading {
        margin-left: 12px;
        font: 400 16px/20px 'Open Sans', sans-serif;
    }
    &__not-found {
        margin-left: 12px;
        font: 400 16px/20px 'Open Sans', sans-serif;
    }
}

.pagination {
    display: inline-block;
    margin: 20px 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    &__item {
        display: inline-block;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 36px;
        text-decoration: none;
        color: #337ab7;
        background-color: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        cursor: pointer;
        &:hover {
            color: #23527c;
            background-color: #eee;
        }
        &:focus {
            outline: none;
        }
    }
    &__item:last-child &__link {
        border-right: 1px solid #ddd;
    }
    &__item--active &__link {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
        cursor: default;
    }
    &__item--disabled &__link {
        color: #777;
        background-color: #fff;
        border-color: #ddd;
        cursor: default;
    }
    &__break {
        display: block;
        padding: 6px 12px;
        line-height: 1.4;
        text-decoration: none;
        color: #777;
        background-color: #fff;
        border: 1px solid #ddd;
    }
}
