.scroll-up {
    width: 60px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    border: none;
    transition: opacity ease 0.7s, background-color linear 0.1s;
    opacity: 0;
    &:hover {
        background-color: #e0e0e0;
    }
    &--show {
        opacity: 1;
        cursor: pointer;
    }
    &:focus {
        border: none;
        outline: none;
    }
    &__arrow-block {
        position: absolute;
        top: 20px;
        left: 18px;
        width: 25px;
        height: 25px;
        transform: rotate(45deg);
        border-top: 5px solid #d1d1d1;
        border-left: 5px solid #d1d1d1;
        transition: border-color linear 0.1s;
    }
    &:hover &__arrow-block {
        border-color: #aaaaaa;
    }
}
